.form {
  background: #eee;

  border: 2px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  width: 550px;
  height: 250px;
  padding: 10px;
}

.file-container {
 display: flex;
 flex-wrap: wrap;
}
.overlapped {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; margin: 0;
  opacity: 0.1;
  width: inherit;
  height: inherit;
}
.overlap {
  font-size: 34px;
  cursor: pointer;
}

.file {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  z-index: 99;
}

.link:hover {
  border-bottom: 1px solid #000;
  cursor: pointer; 
}